[submodule "galeb-router"]
	path = galeb-router
	url = https://github.com/globocom/galeb-router.git
[submodule "galeb-log4j2"]
	path = galeb-log4j2
	url = https://github.com/globocom/galeb-log4j2.git
